<h5><span>Answer Posted by: <%=answer.user.username%>, <%= time_since_created(answer)%></span></h5>
<p><%=answer.content%></p>
<p>Comments:</p>
<ul>
  <%answer.comments.each do |comment| %>
  <li><h6><%=comment.note %></h6></li>
  <% end %>
</ul>
