<h5><span>Answer Posted by: <%=answer.user.username%>, <%= time_since_created(answer)%></span></h5>
<p><%=answer.content%></p>
<%= render partial: 'comments/show', layout: false, locals: {remark: answer} %>
