body {
  font-family: 'Montserrat', sans-serif;
}

a:link {
  color: #1C3064;
}

a:visited {
  color: #1C3064;
}

a:hover {
  color: #0C90A2;
}

.header-logo {
  width: 110px;
}

.header-item {
  margin-right: 15px;
  float: right;
}

.body-outer {
  text-align: center;
}

.body-inner {
  text-align: left;
  display: inline-block;
}

.show-body-outer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /*float: right;*/
}

.show-body-inner {
  text-align: left;
  display: inline-block;

  margin-right: auto;
  margin-left: auto;

}

.question-title {
  font-weight: bold;
}

#question-body {
  text-align: right;
  /*padding-left: 40px;*/
}

.vote-buttons {
  text-align: right;
  float: left;
  display: inline-block;
}

.content-card {
  padding: 40px;
  width: 500px;
  box-shadow: 0px 2px 5px #0C90A2;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
}

.content-card-top {
padding-right: 40px;
padding-left: 40px;
padding-top: 40px;
padding-bottom: 50px;
  width: 500px;
  box-shadow: 0px 2px 5px #0C90A2;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
}

.question-stats {
  display: inline-block;
  margin-bottom: 15px;
}

.comment-vote-buttons {
  float: left;
  padding: 1em;
}

.stat-items {
  margin-right: 15px;
}

.tag {
  background-color: #0C90A2;
}

.answer-list {
list-style: none;
}

.question-title {
  font-size: 18pt;
  margin-right: 15px;
}

.errors {
  color: red;
  text-align: center;
}

input[type="image"]
{
  width: 20px;
}

.voter {
  /*display: inline-block;*/
  width: 10px;
}
