body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E8E8E8;
}

a:link {
  color: #1C3064;
}

a:visited {
  color: #1C3064;
}

a:hover {
  color: #0C90A2;
}

.header-logo {
  width: 110px;
}

.header-item {
  margin-right: 15px;
  float: right;
}

.body-outer {
  text-align: center;
}

.body-inner {
  text-align: left;
  display: inline-block;
}

.show-body-outer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /*float: right;*/
}

.show-body-inner {
  padding-left: 12px;
  text-align: left;
  display: inline-block;

  margin-right: auto;
  margin-left: auto;

}

.question-title {
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
}

#question-body {
  text-align: center;
  /*padding-left: 40px;*/
}

.vote-buttons {
  text-align: right;
  float: left;
  display: inline-block;
}

.content-card {
  padding: 40px;
  width: 500px;
  box-shadow: 0px 2px 5px #0C90A2;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  background-color: white;
}

.question-stats {
  display: inline-block;
  margin-bottom: 15px;
}

.comment-vote-buttons {
  float: left;
  padding: 1em;
}

.stat-items {
  margin-right: 15px;
}

a.tag {
  padding: 4px;
  background-color: #1C3064;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

a.tag:hover {
background-color: #0C90A2;
}

.tags-list{
  padding: 5px;
}

.answer-list {
list-style: none;
}

.question-title {
  font-size: 18pt;
  margin-right: 15px;
}

.errors {
  color: red;
  text-align: center;
}

input[type="image"]
{
  width: 20px;
}

.voter {
  /*display: inline-block;*/
  width: 10px;
}

.answer-input {
  text-align: center;
  padding: 20px;
}

input[type=submit] {
  background-color: #0C90A2;
  border-radius: 5px;
  border:0 none;
  width: 125px;
  height: 20px;
  font-family: 'Montserrat';
  color: white;
}

input[type=submit]:hover {
box-shadow: 0px 2px 5px #888888;
}

.list-title {
  font-size: 30pt;
  padding: 15px;
  border-radius: 15px;
  color: #1C3064;
  text-shadow: 0px 2px 5px #888888;
}

.list-title-holder {
  padding-bottom: 30px;
}

.recent-questions {
box-shadow: inset 0px 0px 8px 3px rgba(0,0,0,0.75);
height: 200px;
width: 450px;
padding: 30px;
border-radius: 40px;
display: inline-block;
margin: 10px;
}

.answer-input-title {
  padding-right: 35px;
}

.question-author {
  font-size: 8pt;
  padding-left: 190px;
}

.index-page-time{
  font-size: 8pt;
}

.question-time {
  font-size: 8pt;
  padding-left: 275px;
  color: white;
}

.time-update {
  font-size: 8pt;
}

.index-container-padding {
margin-left: 8%;
}
