body {
  font-family: 'Montserrat', sans-serif;
}

a:link {
color: #1C3064;
}

a:visited {
color: #1C3064;
}

a:hover {
  color: #0C90A2;
}

.header-logo {
width: 60px;
}

.header-item {
  margin-right: 15px;
  float: right;
}

.body-outer {
  text-align: center;
}

.body-inner {
  text-align: left;
  display: inline-block;
}

.question-stats {
  display: inline-block;
  margin-bottom: 15px;
}

.stat-items {
  margin-right: 15px;
}

.tag {
  background-color: #0C90A2;
}

.question-title {
  font-size: 18pt;
  margin-right: 15px;
}

.errors {
  color: red;
  text-align: center;
}

input[type="image"]
{
  width: 20px;
}

.voter {
  /*display: inline-block;*/
  width: 10px;
}
